@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header{
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    max-height: 80px;
    max-width: max-content;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: white;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    padding: 10px 25px;
}

/* QUANDO O MOUSE ESTA POR CIMA */
header ul li a:hover{
    color: #fff;
}


/* INICIO RODAPÉ */

footer
{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

footer .container
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec
{
    margin-right: 30px;
}

footer .container .sec.sobrenos
{
  width: 40%;  
}

footer .container h2
{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2:before
{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #fca311;
}

footer p
{
    color: #999;
}

.sci
{
    margin-top: 20px;
    display: flex;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.sci li a:hover
{
    background: #fca311;
}
.sci li a .fa
{
   color: #fff; 
   font-size: 20px;
}
.navegue
{
    position: relative;
    width: 25%;
}
.navegue ul li 
{
   list-style: none; 
}
.navegue ul li a
{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.navegue ul li a:hover
{
   color: #fff; 
}
.contato
{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contato .info
{
    position: relative;
}
.contato .info li
{
    display: flex;
    margin-bottom: 16px;
}
.contato .info li span:nth-child(1)
{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contato .info li span
{
    color: #999;
}
.contato .info li a
{
    color: #999;
    text-decoration: none;
}
.contato .info li a:hover
{
    color: #fff;
}
.copyrightTexto
{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

.copyrightTexto p
{
    font-size: small;
}

/*FIM RODAPÉ*/

/* Responsividade para telas menores*/
@media (max-width: 991px)
{
    footer
    {
        padding: 40px;
    }
    footer .container
    {
        flex-direction: column;
    }
    footer .container .sec
    {
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.sobrenos,
    .navegue,
    .contato
    {
        width: 100%;
    }
    .copyrightTexto
    {
        padding: 8px 40px;
    }
}
/* Página contact */

div{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

h1{
    font-size: 2rem;
    color: #fca311;
    margin-bottom: 4rem;
    text-align: center;
    line-height: 1.2;
}


.div-b{
    align-items: column;
}

/* EMAIL */
.form{
    width: 100%;
    max-width: 32rem;
    font-size: 1.125rem;
}
.form label,
.form input,
.form textarea,
.form button{
    display: block;
    width: 100%;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.form input,
.form textarea{
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #fca311;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
}

.form textarea{
    min-height: 13rem;
    resize: none;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus{
    outline: none;
    border-color:#fca311;
    box-shadow: 0 0 0 3px #fca311;
}

.form button{
    display: block;
    padding: 1rem;
    background: #fca311;
    color: #fff;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.form button:hover,
.form button:focus{
    outline: none;
    background: #fca311;
}
/* FIM EMAIL */
.maps{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20%;
    width: 100%
}

.material-icons{
    color: #fca311;
    cursor: pointer;
    margin: 10px;
}

.infos-contato li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}