@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}

body{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

header{
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    max-height: 80px;
    max-width: max-content;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    color: white;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    padding: 10px 25px;
}

/* QUANDO O MOUSE ESTA POR CIMA */
header ul li a:hover{
    color: #fff;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 600px;
}

.content .textBox h2{
    color: #333;
    font-size: 2em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span{
    color: #fca311;
    font-size: 1.2em;
    font-weight: 900;
}

.contenxt .textBox p{
    color: #333;
}

.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #fca311;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

/*IMAGEM DOCS*/
.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}

.content .imgBox img{
    max-width: 800px;
}

.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fca311;
    clip-path: circle(600px at right 800px);
}

/*BOTÃO WHATSAPP*/
.btn-whatsapp{
    position: absolute;
    outline: none;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    cursor: pointer;
    background: #34af23;
    color: #fff;
    font-size: 2.3rem;
    border: 1px solid #f1f1f1;

    animation-name: pulsar;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;

}

a{
    color: inherit;

}

@keyframes pulsar{
    0%{
        height: 65px;
        width: 65px;
    }
    100%{
        height: 85px;
        width: 85px;
    }
}

/* INICIO RODAPÉ */

footer
{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

footer .container
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec
{
    margin-right: 30px;
}

footer .container .sec.sobrenos
{
  width: 40%;  
}

footer .container h2
{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2:before
{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #fca311;
}

footer p
{
    color: #999;
}

.sci
{
    margin-top: 20px;
    display: flex;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.sci li a:hover
{
    background: #fca311;
}
.sci li a .fa
{
   color: #fff; 
   font-size: 20px;
}
.navegue
{
    position: relative;
    width: 25%;
}
.navegue ul li 
{
   list-style: none; 
}
.navegue ul li a
{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.navegue ul li a:hover
{
   color: #fff; 
}
.contato
{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contato .info
{
    position: relative;
}
.contato .info li
{
    display: flex;
    margin-bottom: 16px;
}
.contato .info li span:nth-child(1)
{
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contato .info li span
{
    color: #999;
}
.contato .info li a
{
    color: #999;
    text-decoration: none;
}
.contato .info li a:hover
{
    color: #fff;
}
.copyrightTexto
{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

.copyrightTexto p
{
    font-size: small;
}

/*FIM RODAPÉ*/

/* Responsividade para telas menores*/
@media (max-width: 991px)
{
    footer
    {
        padding: 40px;
    }
    footer .container
    {
        flex-direction: column;
    }
    footer .container .sec
    {
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.sobrenos,
    .navegue,
    .contato
    {
        width: 100%;
    }
    .copyrightTexto
    {
        padding: 8px 40px;
    }
}

